body {
  font-family: OpenSans-regular, Arial, Helvetica, sans-serif;
}

img {
  position: absolute;
}

p {
  position: absolute;
  color: rgb(14, 14, 14);
  text-align: center;
}

a {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
}
