.scalable-wrapper {
  resize: both;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #4f4f4f;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scalable-wrapper__content {
  width: 540px;
  height: 960px;
  background: rgb(243, 243, 243);
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
}

.first-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.firstbackground {
  transform: scale(1);
  top: 0px;
}

.walls {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.wall {
  transform: scale(1.2);
}

.gate {
  top: 273px;
  left: 188px;
}

.broken1 {
  transform: scale(0.6);
  top: 328px;
  left: 142px;
}

.broken2 {
  transform: scale(0.6);
  top: 372px;
  left: 234px;
}

.column {
  top: 423px;
  left: 429px;
}

.castle {
  top: 0px;
  left: 272px;
}

.walldown1 {
  left: -49px;
  top: 163px;
}

.walldown2 {
  left: 10px;
  top: 200px;
}

.walldown3 {
  left: 73px;
  top: 238px;
}

.walldown4 {
  left: 136px;
  top: 277px;
}

.walldown5 {
  left: 317px;
  top: 377px;
}

.walldown6 {
  left: 381px;
  top: 414px;
}

.wallup1 {
  left: 476px;
  top: 417px;
}

.wallup2 {
  left: 535px;
  top: 379px;
}

.camp {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
}

.platform {
  left: 14px;
  top: 507px;
}

.structure {
  transform: scale(0.3);
  filter: brightness(1.1) contrast(1.3);
  top: 333px;
  left: -70px;
}

.arrow-container {
  position: absolute;
  transform: scale(0.6);
  top: 440px;
  left: 40px;
}

.here {
  position: absolute;
  top: -110px;
  left: 10px;
  font-size: 50px;
  color: rgb(255, 253, 162);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.barrack {
  top: 460px;
  left: 26px;
}

.army {
  transform: scale(0.8);
}

.army-from {
  position: absolute;
  display: flex;
  top: 492px;
  left: 116px;
}

.soldier-from1 {
  top: 0px;
  left: 0px;
}

.soldier-from2 {
  top: -15px;
  left: 30px;
}

.soldier-from3 {
  top: 15px;
  left: -30px;
}

.soldier-from4 {
  top: 40px;
  left: 0px;
}

.soldier-from5 {
  top: 25px;
  left: 30px;
}

.soldier-from6 {
  top: 5px;
  left: 60px;
}

.army-to {
  position: absolute;
  display: flex;
  top: 551px;
  left: 171px;
}

.soldier-to1 {
  top: 0px;
  left: 0px;
}

.soldier-to2 {
  top: -15px;
  left: 30px;
}

.soldier-to3 {
  top: 15px;
  left: -30px;
}

.soldier-to4 {
  top: 40px;
  left: 0px;
}

.soldier-to5 {
  top: 25px;
  left: 30px;
}

.soldier-to6 {
  top: 5px;
  left: 60px;
}

.army-attack {
  position: absolute;
  display: flex;
  top: 289px;
  left: 171px;
}

.soldier-attack1 {
  top: 0px;
  left: 0px;
}

.soldier-attack2 {
  top: -15px;
  left: 30px;
}

.soldier-attack3 {
  top: 15px;
  left: -30px;
}

.soldier-attack4 {
  top: 40px;
  left: 0px;
}

.soldier-attack5 {
  top: 25px;
  left: 30px;
}

.soldier-attack6 {
  top: 5px;
  left: 60px;
}

.health-bar {
  position: absolute;
  display: flex;
  top: 260px;
  left: 234px;
  width: 100px;
  height: 15px;
  border-radius: 20px;
  background-color: red;
  border: 2px solid;
  border-color: black;
}

.target {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.health {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(0, 201, 0);
}

.slider {
  position: absolute;
  display: flex;
  left: 0px;
  top: 960px;
}

.panel {
  top: 0px;
  left: 0px;
}

.summon-btn {
  top: 250px;
  left: 122px;
}

.icons {
  position: absolute;
  display: flex;
  top: 920px;
  left: 0px;
}

.icon {
  transform: scale(0.35);
}

.heart {
  transform: scale(0.6);
  left: -30px;
  top: -20px;
}

.gold-coin {
  top: 20px;
  left: 30px;
  transform: scale(0.6);
}

.gold-text {
  top: 35px;
  left: 90px;
  color: gold;
  font-size: 35px;
}

.choose-building {
  top: 47px;
  left: 0px;
}

.icon1 {
  top: 0px;
  left: -54px;
  border: 10px solid gold;
  border-radius: 25px;
}

.price-coin1 {
  transform: scale(0.6);
  top: 316px;
  left: 92px;
}

.price1 {
  top: 330px;
  left: 150px;
  font-size: 35px;
  color: gold;
}

.icon2 {
  top: 0px;
  left: 136px;
  border: 10px solid gold;
  border-radius: 25px;
  filter: grayscale(100%);
}

.price-coin2 {
  transform: scale(0.6);
  top: 316px;
  left: 298px;
}

.price2 {
  top: 330px;
  left: 358px;
  font-size: 35px;
  color: red;
}

.final-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* top: 0px; */
  top: -960px;
  align-items: center;
}

.secondbackground {
  width: 540px;
  height: 960px;
}

.logo {
  position: absolute;
  top: 130px;
}

.final-screen p {
  position: absolute;
  top: 358px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.download {
  position: absolute;
  top: 675px;
  width: 80%;
}

.app-store {
  position: absolute;
  top: 850px;
  left: 300px;
  width: 200px;
  height: 70px;
}

.play-store {
  position: absolute;
  top: 850px;
  left: 40px;
  width: 200px;
  height: 70px;
}

.hidden {
  display: none;
}
